.features {
    max-width: 85%;
    margin: 5rem auto;
    margin-top: 15rem;
    /* padding: 5rem; */
    text-align: center;
    border-radius: 15rem;
    /* background-color: rgb(255, 255, 243); */
    /* box-shadow: 0px 0px 25rem rgb(249, 255, 243); */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.features h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    border-radius: 10rem;
}

.features>p {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 5rem;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    margin-bottom: 40px;

}

.feature-card {
    /* background: #fff;     */
    background-color: rgb(255, 255, 229);
    border-radius: 3rem;
    padding: 2rem;
    /* box-shadow: 0 4px 10rem rgba(0, 0, 0, 0.25); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-10px);
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
}

.feature-icon {
    font-size: 7rem;
    margin-bottom: 2rem;
}

.feature-card h3 {
    font-size: 2rem;
    color: #444;
    margin-bottom: 1.5rem;
}

.feature-card p {
    font-size: 1.5rem;
    color: #666;
}

.explore-button {
    padding: 15px 30px;
    background-color: #5b57da;
    color: white;
    border: none;
    border-radius: 5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.explore-button:hover {
    background-color: #0056b3;
}