/* footer.css */

.footer {
    background-color: #f8f9fa;
    padding: 3.2rem 1.6rem;
    text-align: center;
    color: #333;
    border-top: 1px solid #e9ecef;
    margin-top: 2rem;
}

.footer-description {
    margin: 1.6rem 5rem;
    padding: 0 10rem;
    font-size: 1.3rem;
}


.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;

}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.footer-social-icons a {
    color: #333;
    font-size: 2.2rem;
    transition: color 0.3s;
    margin-bottom: 1rem;
}

.footer-social-icons a:hover {
    color: #0073e6;
}


.footer-links a {
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: red;
}

.footer-copyright {
    font-size: 1.4rem;
    margin-top: 1.4rem;
}